<app-navbar></app-navbar>
<router-outlet></router-outlet>


<div class="container">
  <h2>Todas las Camisetas</h2>

  <div class="product">
    <img src="assets/maldini.jpg" alt="Camiseta de Maldini">
    <h3>Camiseta de Maldini</h3>
    <p>La icónica camiseta del Milan usada por Maldini en la temporada 2006/07.</p>
    <a href="#">Ver más</a>
  </div>

  <div class="product">
    <img src="assets/zidane.jpg" alt="Camiseta de Zidane">
    <h3>Camiseta de Zidane</h3>
    <p>Camiseta legendaria de Zidane en la final de la Champions League 2002.</p>
    <a href="#">Ver más</a>
  </div>
</div>

